Repository totalolage/bg-matchmaker: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc-files --noEmit, eslint --fix --max-warnings 0, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["tsc-files --noEmit", "eslint --fix --max-warnings 0"],
  "*.{js,jsx,ts,tsx,json,css,scss,md}": ["prettier --write"]
}

feat: implement availability management for accepted sessions
  .taskmaster/tasks/tasks.json
  convex/schema.ts
  convex/sessions.ts
  convex/users.ts
  src/components/TimeSlotButton.tsx
  src/components/availability/AvailabilitySchedule.tsx
  src/components/availability/components/TimeGrid.tsx
  src/components/availability/hooks/useAvailabilitySelection.ts
  src/components/sessions/UserProposalsPage.tsx
  src/lib/availability.ts
Due: tsc-files --noEmit, eslint --fix --max-warnings 0, prettier --write

feat: enhance session details page with user information and interactions
  .taskmaster/tasks/tasks.json
  bun.lock
  convex/sessions.ts
  package.json
  src/components/ui/separator.tsx
  src/routes/sessions/$sessionId.tsx
Due: tsc-files --noEmit, eslint --fix --max-warnings 0, prettier --write

chore: update taskmaster and rename lint script
  .taskmaster/tasks/tasks.json
  package.json
Due: prettier --write

feat: add session edit functionality for hosts
  .taskmaster/tasks/tasks.json
  convex/sessions.ts
  src/routes/sessions/$sessionId.tsx
Due: tsc-files --noEmit, eslint --fix --max-warnings 0, prettier --write

chore: change prettier config
  .prettierrc
Due: none

feat: enforce module boundaries with lint rules
  .taskmaster/tasks/tasks.json
  convex/seed.ts
  convex/sessions.ts
  eslint.config.js
  src/components/SessionCard.tsx
  src/components/SessionInfo.tsx
  src/components/SwipeCard.tsx
  src/components/UserAvatar.tsx
  src/components/session-discovery/SessionDiscovery.tsx
  src/components/session-discovery/SessionProposal.tsx
  src/hooks/useCurrentUser.ts
  src/routes/discover.tsx
  src/routes/index.tsx
  src/routes/profile_.edit.tsx
Due: tsc-files --noEmit, eslint --fix --max-warnings 0, prettier --write

refactor: update imports to use @/ alias throughout codebase
  convex/seed.ts
  convex/sessions.ts
  eslint.config.js
  package.json
  src/components/CreateSessionForm.tsx
  src/components/Navigation.tsx
  src/components/SessionInfo.tsx
  src/components/UserAvatar.tsx
  src/components/admin/AdminPage.tsx
  src/components/admin/CSVUpload.tsx
  src/components/availability/AvailabilitySchedule.tsx
  src/components/availability/components/AvailabilitySummary.tsx
  src/components/availability/components/TimeGrid.tsx
  src/components/availability/hooks/useAvailabilitySelection.ts
  src/components/game-library/GameLibrary.tsx
  src/components/game-library/components/AddGameDialog.tsx
  src/components/game-library/components/VirtualizedGameSearchResults.tsx
  src/components/game-library/hooks/useGameLibrary.ts
  src/components/games/GameDetailsModal.tsx
  src/components/session-discovery/GameSelector.tsx
  src/components/session-discovery/SessionDiscovery.tsx
  src/components/session-discovery/SessionProposal.tsx
  src/components/session-history/SessionHistoryItem.tsx
  src/components/session-history/VirtualizedSessionHistoryList.tsx
  src/components/sessions/UserProposalsPage.tsx
  src/hooks/usePaginatedSearch.ts
  src/routes/__root.tsx
  src/routes/admin.tsx
  src/routes/discover.tsx
  src/routes/index.tsx
  src/routes/profile_.edit.tsx
  src/routes/sessions_.$sessionId.tsx
Due: tsc-files --noEmit, eslint --fix --max-warnings 0, prettier --write

feat: add HTTPS support for mobile PWA testing
  bun.lock
  certs/.gitignore
  package.json
  vite.config.ts
Due: tsc-files --noEmit, eslint --fix --max-warnings 0, prettier --write

feat: optimize app for mobile devices with PWA support
  .gitignore
  convex/schema.js
  convex/seed.js
  convex/tsconfig.json
  index.html
  src/components/Navigation.tsx
  src/components/PageLayout.tsx
  src/index.css
  src/routes/__root.tsx
Due: tsc-files --noEmit, eslint --fix --max-warnings 0, prettier --write

chore: add Vercel build ignore script for release-only deployments
  vercel-build-ignore.sh
Due: none

fix: remove duplicate JS files causing Vercel build failure
  convex/schema.js
  convex/seed.js
  convex/tsconfig.json
Due: prettier --write

fix: correct Vercel ignored build step exit codes
  README.md
  vercel-build-ignore.sh
Due: prettier --write

fix: tag release commits instead of original commits
  .github/workflows/version-bump.yml
Due: none

fix: improve tag detection in Vercel build ignore script
  vercel-build-ignore.sh
Due: none

fix: improve Vercel build detection for release commits
  .github/workflows/version-bump.yml
  vercel-build-ignore.sh
Due: none

feat: add safe area spacing utilities and disable pull-to-refresh in PWA
  src/components/Navigation.tsx
  src/components/PWAInstallPrompt.tsx
  src/components/PageLayout.tsx
  src/index.css
  src/main.tsx
  src/routes/__root.tsx
  tailwind-safe-spacing-plugin.js
  tailwind.config.js
Due: tsc-files --noEmit, eslint --fix --max-warnings 0, prettier --write

feat: add push notifications support
  .lintstagedrc.json
  bun.lock
  convex/_generated/api.d.ts
  convex/notifications.ts
  convex/notifications/helpers.ts
  convex/notifications/triggers.ts
  convex/notifications/worker.ts
  convex/schema.ts
  lint-staged.config.js
  package.json
  src/components/NotificationSettings.tsx
  src/components/admin/AdminPage.tsx
  src/components/ui/switch.tsx
  src/hooks/usePushNotifications.tsx
  src/routes/profile_.edit.tsx
  src/sw.ts
  vite.config.ts
Due: tsc-files --noEmit, eslint --fix --max-warnings 0, prettier --write

chore: fix lint script and update scripts
  lint-staged.config.js
  scripts/analyze-version-bump.ts
  scripts/parse-commits.ts
  scripts/test-version-bump.ts
Due: tsc-files --noEmit, eslint --fix --max-warnings 0, prettier --write

chore: update tasks
  .taskmaster/tasks/tasks.json
Due: prettier --write

feat: set up env sync script
  convex.json
  scripts/env.ts
  scripts/tsconfig.json
Due: tsc-files --noEmit, eslint --fix --max-warnings 0, prettier --write

feat: add PostHog analytics integration
  .env.example
  .taskmaster/tasks/tasks.json
  bun.lock
  index.html
  package.json
  src/App.tsx
  src/SignInForm.tsx
  src/SignOutButton.tsx
  src/components/AnalyticsContext.tsx
  src/components/AuthStateTracker.tsx
  src/components/CreateSessionForm.tsx
  src/components/ErrorBoundary.tsx
  src/components/PWAInstallPrompt.tsx
  src/components/PostHogProvider.tsx
  src/components/admin/AdminPage.tsx
  src/components/availability/AvailabilitySchedule.tsx
  src/components/game-library/hooks/useGameLibrary.ts
  src/components/session-discovery/SessionDiscovery.tsx
  src/components/sessions/UserProposalsPage.tsx
  src/hooks/useAnalytics.ts
  src/hooks/usePushNotifications.tsx
  src/lib/analytics/posthog.ts
  src/main.tsx
  src/routes/__root.tsx
  src/routes/discover.tsx
  src/routes/profile_.edit.tsx
  src/routes/sessions_.$sessionId.tsx
  src/vite-env.d.ts
  tsconfig.json
  vite.config.ts
Due: tsc-files --noEmit, eslint --fix --max-warnings 0, prettier --write

refactor: clean up env script with OOP design and fix Vercel newline parsing
  package.json
  scripts/env.ts
Due: tsc-files --noEmit, eslint --fix --max-warnings 0, prettier --write

chore: update gitignore
  .gitignore
Due: none
